html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;

}

/* 3D Szene */
#scene {
  position: fixed;
  inset: 0;
  z-index: 0;
}

/* #scene {
  width: 100vw;
  height: 100vh;
} */

/* Toolbar */
#ui {
  
  height: 36px;
  position: fixed;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  
  padding: 2px 4px;
  background: rgba(227, 226, 209, 0.55);
  border-radius: 10px;

  max-width: calc(100vw - 16px);
}






/* Inputs */
#ui input {
 
  width: 80px;              /* 🔑 schmal */
  max-width: 30vw;          /* 🔑 Mobile */
  padding: 6px 2px;
  font-size: 15px;
  border-radius: 6px;
  border: none;
}

/* Button */
#ui button {
  
  padding: 6px 4px;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  background: #105995;
  color: white;
 
  cursor: pointer;
  white-space: nowrap;
}

#ui button:hover {
  background: rgb(29, 154, 227);
}
/* Distanz */
/* #dist {
  
  color: white;
  font-size: 18px;
  min-width: 60px;
  padding: 4px 8px;
  background: rgba(0,0,0,0.35);
  border-radius: 6px;
  white-space: nowrap;
} */

#dist {
  min-width: 60px;
  height: 20px;          /* 🔑 Höhe festlegen */
  line-height: 20px;     /* 🔑 Text zentrieren */
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* 📱 sehr kleine Displays */
@media (max-width: 420px) {
  #ui input {
    width: 70px;
    font-size: 12px;
    
  }

  #ui button {
    padding: 6px 8px;
    font-size: 12px;
  }

  
}
